<div class="modal-header">
    <h4 class="modal-title">Delete?</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <p>Do you want to delete records for {{ country }}?</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="onConfirmDelete()">
        Confirm Delete Record
    </button>

    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('cancel')">
        Cancel
    </button>
</div>