<form [formGroup]="topupForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>With NGX Mask</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!-- TOPUP AMOUNT -->
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput #topupAmount (change)="onTopupAmountChanges()" placeholder="Topup Amount" mask="separator.8"
              thousandSeparator="," type="text" formControlName="topupAmount">
          </mat-form-field>
          <span>Topup Amount: MYR {{f.topupAmount.value ?? 0}}</span>
        </div>
      </div>
      <!-- end of TOPUP AMOUNT -->
      <!-- TOPUP CHARGES -->
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput #topupCharges placeholder="Topup charges" mask="separator.8" thousandSeparator=","
              decimalMarker="." type="text" formControlName="topupCharges">
          </mat-form-field>
          <span>TOPUP CHARGES: MYR {{f.topupCharges.value ?? 0}}</span>
        </div>
      </div>
      <!-- end of TOPUP CHARGES -->
      <!-- TOTAL AMOUNT TO BE PAID -->
      <!-- <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput #totalAmountToBePaid placeholder="Topup Amount" mask="separator.2" thousandSeparator=","
              type="text" formControlName="totalAmountToBePaid">
          </mat-form-field>
          <span>TOTAL AMOUNT TO BE PAID: MYR {{f.totalAmountToBePaid.value ?? 0}}</span>
          <br>
          <span>PREVIOUS TOTAL AMOUNT: MYR {{f.previousTotalAmountToBePaid.value ?? 0}}</span>
          <br>
          <span>VARIANCE: {{f.variance.value ?? 0}}</span>
        </div>
      </div> -->
      <!-- end of TOTAL AMOUNT TO BE PAID -->
      <loki-fullstack-total-amount [selectedForm]="topupForm" [totalAmountController]="f.totalAmountToBePaid"
        [previousTotalAmountToBePaidController]="f.previousTotalAmountToBePaid" [varianceController]="f.variance"
        [variance2]="varianceVal" (varianceChanged)="varianceChanges($event)"></loki-fullstack-total-amount>
    </mat-card-content>
    <mat-card-header>
      <mat-card-title>Without NGX-mask</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!-- TOPUP AMOUNT -->
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput #topupAmount placeholder="Topup Amount" decimalNumberFormatter 
              formControlName="topupAmountNoNGX">
          </mat-form-field>
          <span>Topup Amount numberformatter: MYR {{f.topupAmountNoNGX.value ?? 0}}</span>
        </div>
      </div>
      <!-- end of TOPUP AMOUNT -->
      <!-- TOPUP CHARGES -->
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput #topupCharges placeholder="Topup charges" type="number" formControlName="topupChargesNoNGX">
          </mat-form-field>
          <span>TOPUP CHARGES: MYR {{f.topupChargesNoNGX.value ?? 0}}</span>

        </div>
      </div>
      <!-- end of TOPUP CHARGES -->
      <!-- TOTAL AMOUNT TO BE PAID -->
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput #totalAmountToBePaid placeholder="Topup Amount" type="number"
              formControlName="totalAmountToBePaidNoNGX">
          </mat-form-field>
          <span>TOTAL AMOUNT TO BE PAID: MYR {{f.totalAmountToBePaidNoNGX.value ?? 0}}</span>
        </div>
      </div>
      <!-- end of TOTAL AMOUNT TO BE PAID -->
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>