/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.full-width {
  width: 100%;
}

/** Library styles*/
@import 'ngx-toastr/toastr';
@import '~bootstrap/dist/css/bootstrap.css';
@import '~@ng-select/ng-select/themes/material.theme.css';
