<div class="grid-container">
  <h1 class="mat-h1">Welcome to Dashboard =D</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            <div class="row">
              <!-- ILLUSTRATION -->
              <div class="col-12 p-2">
                <!-- <img style="width: 50%;min-height: 30%;" src="assets/fill-form.svg"> -->
              </div>
              <!-- end of ILLUSTRATION -->
              <div class="col">
                <button id="sign-up-btn" mat-flat-button color="primary" [routerLink]="card.link"
                  class="float-start">{{card.buttonLabel}}
                </button>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>


<div class="row">
  <!-- ILLUSTRATION -->
  <div class="col-12 p-2">
    <img style="width: 50%;min-height: 90%;" src="assets/fill-form.svg">
  </div>
  <!-- end of ILLUSTRATION -->
  <div class="col">
    <button id="sign-up-btn" mat-flat-button color="primary" routerLink="/stepper-registration-form"
      class="float-start">Sign
      Me
      Up!
      »
    </button>
  </div>
</div>